
" Insert
inoremap jk <Esc>
nnoremap <SPACE>w <C-W>

" 启用vim surround功能
set surround
" 启用multi cursor
set multiple-cursors

inoremap jj <esc>
inoremap kk <esc>
inoremap jk <esc>
"nnoremap <space>gc :action GotoClass<cr>
"nnoremap <space>ga :action GotoAction<cr>
noremap ,k :action MethodUp<cr>
noremap ,j :action MethodDown<cr>
noremap ,o :action Back<cr>
noremap / :action Find<cr>
"nnoremap <space>f :action Forward<cr>
noremap ,f :action ReformatCode<cr>
"nnoremap <space>e :action LastEditLocation<cr>
noremap ,r :action Run<cr>
noremap ,s :action Stop<cr>
noremap ,b :action GotoDeclaration<cr>
noremap <space><space> :action SearchEverywhere<cr>
noremap ,e :action Switcher<cr>
noremap ,p "*P
noremap ,y "*y
noremap <TAB> <C-W><C-W>

" 在normal模式下一直为英文输入法
set keep-english-in-normal

" 使光标始终在中间
set sidescrolloff=999
set scrolloff=999

nmap ,1 1gt
nmap ,2 2gt
noremap ,3 3gt
noremap ,4 4gt
noremap ,5 5gt
noremap ,6 6gt
noremap ,7 7gt
noremap ,8 8gt
noremap ,9 9gt
noremap ,0 0gt
noremap ,l gt
noremap ,h gT
