let mapleader = " "
" 在normal模式下一直为英文输入法
set keep-english-in-normal

" 使光标始终在中间
set sidescrolloff=999
set scrolloff=999

" Insert
inoremap jk <Esc>
nnoremap <LEADER>w <C-W>

" 启用vim surround功能
set surround

" 启用multi cursor
set multiple-cursors

inoremap jj <esc>
inoremap kk <esc>
inoremap jk <esc>

noremap <Leader>/ :action Find<cr>

noremap <M-r> :action Run<cr>
noremap <LEADER>lr :action Run<cr>
noremap <LEADER>ls :action Stop<cr>
noremap <LEADER>ld :action Debug<cr>
noremap <LEADER>lf :action ReformatCode<cr>
nnoremap <LEADER><LEADER> :action GotoAction<cr> 
noremap <C-P> :action RecentFiles<CR>

nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>


nnoremap <LEADER>pp "*P
nnoremap <LEADER>yy "*y
nnoremap <LEADER>us :action ActivateTerminalToolWindow<CR>
nnoremap <LEADER>ut :action ActivateStructureToolWindow<CR>
nnoremap <LEADER>ft :action ActivateProjectToolWindow<CR>


