priority 1

snippet /^meth/ "Method" r
func (${1:receiver} ${2:type}) ${3:name}(${4:params})${5/(.+)/ /}${5:type} {
	${0:${VISUAL}}
}
endsnippet

snippet rr "err return" b
if err != nil {
	return
}
endsnippet

snippet range "range value" b
for _,v := range ${1} {
	${0}
}
endsnippet

snippet impl "implement me" b
panic("not implemented") // TODO: Implement
endsnippet


